<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Customer List
      <a class="btn btn-default pull-right" routerLink="/customer/create"><i class="fa fa-plus"> Customer</i></a>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
      <thead>
      <tr>
        <th style="width: 20%">Group</th>
        <th style="width: 50%">Name</th>
        <th style="width: 10%">Address</th>
        <th style="width: 10%"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of mf.data">
        <td>{{item.group}}</td>
        <td>{{item.name}}</td>
        <td>{{item.address}}</td>
        <td>
          <button class="btn btn-default" routerLink="/customer/update/{{item.id}}">Update</button>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="3">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>

</div>