<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Inventory List
      <a class="btn btn-default pull-right" routerLink="/inventory/create"><i class="fa fa-plus"> Inventory Item</i></a>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
      <thead>
      <tr>
        <th style="width: 20%">Code</th>
        <th style="width: 30%">Description</th>
        <th style="width: 40%">Price</th>
        <th style="width: 10%"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of mf.data">
        <td>{{item.code}}</td>
        <td>{{item.description}}</td>
        <td>{{item.price}}</td>
        <td>
          <button class="btn btn-default" routerLink="/inventory/update/{{item.id}}">Update</button>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="3">
          <mfBootstrapPaginator></mfBootstrapPaginator>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>

</div>